body {
	color: #1b2733;
	font-weight: 100;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.contact {
	padding: 15px;
	border-bottom: 1px solid lighten(#EEE, 3%);

	div {
		padding: 2px;
	}

}

.muted {
	color: #647382;
}
