body {
	color: darken($body-text-color, 3);
	font-weight: 100;
	line-height: 24px;
}

a {
	text-decoration: none;
	&:hover {
		color: blue;
	}
}

hr {
	border: none;
	border-bottom: 1px solid #EEE;
}
